@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.blocklyScrollbarHorizontal {
  display: none !important;
}

.blocklyScrollbarVertical {
  display: none !important;
}

.title-label {
  font-weight: bold !important;
  font-size: medium !important;
}

.args-label,
.output-label {
  font-size: small !important;
}

.blocklyText, .blocklyHtmlInput {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.blocklyMainBackground {
  stroke-width: 0;
}

.blocklyToolboxDiv, .blocklyFlyout {
  background-color: rgba(255,255,255,1);
}

.blocklyToolboxDiv {
  padding: 10px;
  padding-left: 20px;
  border-right: #D0D0D0 solid 1px;
}

.blocklyFlyout {
  border-radius: 6px;
  fill: rgb(180, 172, 172);
}


.blocklyTreeLabel {
  font-size: medium;
  color: rgb(81, 87, 87);
  font-weight:700;
}

.blocklyHtmlInput.blocklyTimeInput {
  min-width: 100px;
}

.jexcel_contextmenu {
  display: none;
}

.table-load-button {
  background-color: #009382;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.table-block-content {
  font-size: small;
}

.table-load-button:hover {
  background-color: #0E7570;
}

.blocklyDropDownArrow.blocklyArrowTop {
  pointer-events: none;
}
